# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

# Ignore model files
*.h5
*.pkl

# Ignore logs
*.log
model/my_trained_model.h5
model/feature_extractor_dill.pkl
model/my_trained_model.h5
model/feature_extractor_dill.pkl
*.h5
*.pkl
*.ckpt
*.pt
*.wav
*.mp3
